<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>com.jonathaf.vs-code-server</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/vs-code-server</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/usr/local/var/log/vs-code-server.log</string>
	<key>StandardOutPath</key>
	<string>/usr/local/var/log/vs-code-server.log</string>
	<key>WorkingDirectory</key>
	<string>/Users/jonathaf</string>
</dict>
</plist>
