services:
  nginx:
    image: nginxinc/nginx-unprivileged:alpine
    container_name: vs-code-server-proxy
    restart: always
    env_file: .env
    environment:
      VS_CODE_HTTP_PORT: ${VS_CODE_HTTP_PORT:-8000}
      VS_CODE_HTTPS_PORT: ${VS_CODE_HTTPS_PORT:-443}
    volumes:
      - ./nginx.conf:/etc/nginx/templates/default.conf.template:ro
      - ./cert:/cert:ro
      - ./html:/usr/share/nginx/html
    network_mode: "host" # WE HAVE TO USE THIS BECAUSE WE NEED TO RESTRICT VSC SERVER ACCESS TO LOCALHOST ONLY, BUT THEN WE NEED NETWORK_MODE HOST TO ALLOW NGINX TO ACCESS IT ON LOCALHOST
